*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}body{
    background-color: #c2c2c2;
}
 
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:  55%;
    border: 3px solid;
    border-radius: 50px;

}
.navbar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    cursor: pointer;
    /* background-color: black; */
}
.nav-list{
    width: 60%;
    display: flex;
        align-items: center;

}
.nav-list li{
            list-style: none;
            padding: 26px 30px;
}
.nav-list li a{
            text-decoration: none;
            color:white;
}

.nav-list li a:hover{
    text-decoration: none;
    color:gray;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.row .column{
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
}
.row .column img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;
}
.row .column img:hover{
    filter: grayscale(1) brightness(1);
}




.footer{
    background-color: #c2c2c2; 
   
     height: 200px;
  }
  h1{
            
    height: 200px;
    width: 100%;
    
    
}
p{
  text-align: center;
  margin-top: 20px;
}